* { margin: 0; padding: 100}
 box-sizing: border-box;

 h3 {font-family: 'Merriweather', serif; color: #404040; text-align: center;}
 body {
  font-family: 'Merriweather', serif; color: 336699; text-align: left;
}
 h1 {
  font-family: 'Merriweather', serif; color: #404040;
}
